@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <a asp-action="Menu" class="btn btn-outline-info col-12 m-2 big-btn">
        <span>
            
            כניסה כסועד
        </span>
    </a>
    <a asp-action="EditableMenu" class="btn btn-outline-info col-12 m-2 big-btn">
        <span>

        כניסה כבעל המסעדה
        </span>
    </a>
</div>